<div class="top">
  <div class="background">
    <div class="container">
      <header>
        <div class="header-left">
          <img class="logo" src="/photo/logo.png" alt="">
        </div>
        <div class="header-right">
          <h2>ログイン  /  新規登録</h2>
        </div>
      </header>

      <div class="mein-wrapper">
        <h2 class="heading">FAMILY_TASK</h2>
        <p class="text">日々のタスクの管理・分析<br>コミュニケーションのサポート</p>

        <div class="btn-wrapper">
          <a href="#" class="btn">新規登録</a>
          <a href="#" class="btn">ログイン</a>
        </div>

      </div>

    </div>
  </div>
</div>
